h2 {
color: blue;
}

h3 {
color: blueviolet;
}

h4 {
    color: chartreuse;
}

h5 {
color: brown;
}

h6 {
    color: aqua;
}

.blue-text {
    color: blue;
}

.red-text {
    color: rgb(255, 0, 0);
}

#example-1 {
color: crimson;
}




























